

<div class="title_color">

    <div>
    <%= link_to "TOPに戻る", top_path %>
    </div>

    <h1 class="view_center">ご利用方法</h1>
    <br> 
</div>

<br>

<h2 class="view_center">カテゴリーを選択!</h2>
<div class="image_size">
    <%= image_tag 'ssr1.png' %>
</div>
<br>

<h2 class="view_center">直感で選んでいこう！</h2>
<div class="image_size">
    <%= image_tag 'ssr2.png' %>
    <%= image_tag 'ssr3.png' %>
    <%= image_tag 'ssr4.png' %>
</div>
<%# <img> %>
<br>

<h2 class="view_center">
<p>あなたの求めるものに出会えるかも？</p>
<p>見つかったら決定をclick！</p>
</h2>
<div class="image_size">
    <%= image_tag 'ssr5.png' %>
</div>
<%# <img> %>
<br>

<h2 class="view_center">やってみよう!</h2>
<br>
<h2 class="view_center"><%= link_to "やってみる", top_path %></h2>